.help-section {
    background: rgb(31, 46, 53);

    .help-section-wrapper {
        display: flex;
        gap: 150px;
        padding: 50px 0 31px 0;
        flex-direction: column;

        .help-section-content {
            display: flex;
            align-items: center;
            gap: 90px;

            .help-left {
                .help-bold1 {
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 8px;
                }

                .help-title {
                    color: rgb(255, 255, 255);
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 48px;
                    margin-bottom: 23px;
                }

                .help-text1 {
                    width: 450px;
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                    margin-bottom: 30px;
                }

                .help-left-icon-text {
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .help-left-img-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 35px;
                        height: 35px;
                        box-sizing: border-box;
                        border: 2.92px solid rgb(255, 153, 0), rgb(255, 255, 255);
                        border-radius: 13.85px;
                        background: rgb(255, 153, 0);
                    }

                    .help-left-text {
                        width: 330px;
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        text-align: left;
                    }
                }

                .help-bold2 {
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 12px;
                }

                .help-text2 {
                    width: 430px;
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                    margin-bottom: 25px;
                }

                .help-bold3 {
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 12px;
                }

                .help-text3 {
                    width: 430px;
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                }


            }


            .help-right {}
        }
    }
}